<h1>New commute</h1>

<% form_for(@commute) do |f| %>
  <p>
    <label for="miles_pd">Miles per day</label><br />
    <input id="miles_pd" name="miles_pd" size="30" type="text" />
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', commutes_path %>